$COLOR_BLACK: #000000;

$COLOR_WHITE: #FFFFFF;
$COLOR_WHITE_20: rgba(255, 255, 255, 0.2);
$COLOR_WHITE_40: rgba(255, 255, 255, 0.4);
$COLOR_WHITE_50: rgba(255, 255, 255, 0.5);

$COLOR_DARK_BLUE_30: rgba(26, 26, 26, 0.3);
$COLOR_DARK_BLUE_50: rgba(26, 26, 26, 0.5);

$COLOR_TURQUOISE_BLUE: rgb(121,224,238);

$COLOR_PURPLE_BLUE: #6C40B5;
$COLOR_DARK_PURPLE_BLUE: #28124D;

$COLOR_MUTED_GREY: #666666;
$COLOR_DARK_GREY: #444444;

$COLOR_BG_DANGER: rgb(255, 204, 187);
$COLOR_TEXT_DANGER: rgb(255, 50, 50);
